# ========================
# Sistemi Operativi
# ========================
.DS_Store
Thumbs.db

# ========================
# Editor e IDE
# ========================
.vscode/
.idea/

# ========================
# Python
# ========================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/

# ========================
# Dati clinici e modelli
# ========================
*.nii
*.nii.gz
*.dcm
*.rds

# ========================
# Database
# ========================
*.db
*.sqlite3

# ========================
# Variabili d'ambiente
# ========================
.env