# Sistemi Operativi
.DS_Store
Thumbs.db

# Dati Clinici e Modelli 
*.nii
*.nii.gz
*.dcm
*.rds
dati_sensibili/
.env

# Database locali
*.db
*.sqlite3
backend/data/clinical_twin.db
backend/data/mlflow.db