SECRET_KEY=cambia-questa-chiave-con-una-robusta-in-produzione
DATABASE_URL=sqlite:////shared_db/clinical_twin.db
MODEL_SERVICE_URL=http://model_service:8000
NEXTFLOW_WORKER_URL=http://nextflow_worker:8000
AUTH_SERVICE_URL=http://api_gateway:8000
SHARED_VOLUME_DIR=/shared_data
USE_MOCK=false