// ==========================================
// CLINICAL TWIN — Nextflow Config
// ==========================================

docker {
    enabled = true
    fixOwnership = true
    runOptions = '-v /tmp:/tmp -v /tmp/freesurfer_license.txt:/app/license.txt'
}

process {
    withName: 'fastsurfer' {
        container = 'deepmi/fastsurfer:cuda-v2.4.2'
	containerOptions = '--gpus "device=MIG-51fae91a-4f4f-5275-82ac-3bea789f390b" --user $(id -u):$(id -g) --entrypoint ""'
    }
    withName: 'freesurfer' {
        container = 'clinical-freesurfer'
    }
    withName: 'nifti_converter' {
        container = 'clinical-freesurfer'
    }
    withName: 'roi_creator' {
        container = 'clinical-fsl'
    }
    withName: 'csv_collector' {
        container = 'clinical-pyradiomics'
        containerOptions = '-v clinical_twin_shared_data:/shared_data'
    }
    withName: 'feature_extraction' {
        container = 'clinical-pyradiomics'
        stageInMode = 'copy'
	    containerOptions = '-v clinical_twin_shared_data:/shared_data'
    }
}

workDir = '/tmp/nextflow_work'

// Params default
params.outdir = System.getenv("NF_OUTDIR") ?: "/shared_data/nf_output"
params.segmenter_folder_output = "${params.outdir}/segmentation"
params.features_output = "${params.outdir}/features"
params.error_strategy = 'ignore'
params.maxforks = 1
params.pyradiomics_jobs = 4
params.brain_segmenter = "freesurfer"

// DATA
params.labels = System.getenv("NF_LABELS") ?: "/tmp/ROI_labels.tsv"
params.settings = System.getenv("NF_SETTINGS") ?: "/tmp/pyradiomics.yaml"
params.license = "/app/license.txt"

// SEGMENTER OUTPUT
params.fastsurfer_threads = 8
params.fastsurfer_device = "cuda"
params.fastsurfer_3T = false
