// 1. General settings
docker.enabled = false
workDir = '.nextflow/runningfiles'


// 2. Params settings
    // EXPERIMENT OPTIONS - settings for HC vs all FTD variants - freesurfer data
    params.experiment_name = "HC_vs_all"
    params.sperimental = ["bvFTD_T1", "nfvPPA_T1", "svPPA_T1"]
    params.control = ["HC_T1"]
    params.parallel_training = true
    params.selection_method = "lasso"
    params.brain_segmenter = "fastsurfer"

    // DATA DEFINITION
    params.labels = "data/external/ROI_labels.tsv"
    params.demographic_data = "data/external/demographic_data.csv"
    params.dataset = [
            "data/raw/nfvPPA_T1",
            "data/raw/svPPA_T1",
            "data/raw/bvFTD_T1",
            "data/raw/HC_T1"
        ]

    // MLFLOW SECRETS
    params.env = ".env"

    // BRAIN SEGMENTER SETTINGS
    params.license = "license.txt"
    params.segmenter_folder_output = "data/interim/${params.brain_segmenter}_segmentation"
    params.maxforks = 1
    params.error_strategy = "ignore"

    params.fastsurfer_threads = 4
    params.fastsurfer_device = "cpu"
    params.fastsurfer_3T = true

    // FEATURES EXTRACTION SETTINGS
    params.features_output = "data/interim/features-${params.brain_segmenter}"
    params.feat_output = "data/processed/feat-${params.brain_segmenter}"
    params.pyradiomics_jobs = 2

    // CONFIG FILES
    params.config = "nextflow/configs/hyperparameters.yaml"
    params.settings = "nextflow/configs/pyradiomics.yaml"

    // TRAINING SCRIPTS
    params.merge_script = "ftd_diagnosis/util/merge_radiomics.r"
    params.metrics_script = "ftd_diagnosis/util/process_metrics.r"
    params.stability_script = "ftd_diagnosis/util/stability.r"
    params.rfe_script = "ftd_diagnosis/sequential/RFE.r"
    params.lasso_script = "ftd_diagnosis/sequential/lasso.r"

    // PARALLEL training
    params.selection = "ftd_diagnosis/parallel/features_selection.r"
    params.svm = "ftd_diagnosis/parallel/models/svm.r"
    params.rf = "ftd_diagnosis/parallel/models/random_forest.r"
    params.knn = "ftd_diagnosis/parallel/models/kNN.r"
    params.xgb = "ftd_diagnosis/parallel/models/XGBoost.r"


// 3. PROFILES 
profiles {
    // HC vs bvFTD 
    hc_vs_bvFTD_fastsurfer_rfe {
        params.experiment_name = "HC_vs_bvFTD"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_bvFTD_fastsurfer_lasso {
        params.experiment_name = "HC_vs_bvFTD"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_bvFTD_freesurfer_rfe {
        params.experiment_name = "HC_vs_bvFTD"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    hc_vs_bvFTD_freesurfer_lasso {
        params.experiment_name = "HC_vs_bvFTD"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // HC vs all 
    hc_vs_all_fastsurfer_rfe {
        params.experiment_name = "HC_vs_all"
        params.sperimental = ["bvFTD_T1", "svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_all_fastsurfer_lasso {
        params.experiment_name = "HC_vs_all"
        params.sperimental = ["bvFTD_T1", "svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_all_freesurfer_rfe {
        params.experiment_name = "HC_vs_all"
        params.sperimental = ["bvFTD_T1", "svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    hc_vs_all_freesurfer_lasso {
        params.experiment_name = "HC_vs_all"
        params.sperimental = ["bvFTD_T1", "svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // HC vs linguistic 
    hc_vs_linguistic_fastsurfer_rfe {
        params.experiment_name = "HC_vs_linguistic"
        params.sperimental = ["svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_linguistic_fastsurfer_lasso {
        params.experiment_name = "HC_vs_linguistic"
        params.sperimental = ["svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }

    hc_vs_linguistic_freesurfer_rfe {
        params.experiment_name = "HC_vs_linguistic"
        params.sperimental = ["svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    hc_vs_linguistic_freesurfer_lasso {
        params.experiment_name = "HC_vs_linguistic"
        params.sperimental = ["svPPA_T1", "nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // HC vs svPPA 
    hc_vs_svPPA_fastsurfer_rfe {
        params.experiment_name = "HC_vs_svPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_svPPA_fastsurfer_lasso {
        params.experiment_name = "HC_vs_svPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_svPPA_freesurfer_rfe {
        params.experiment_name = "HC_vs_svPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    hc_vs_svPPA_freesurfer_lasso {
        params.experiment_name = "HC_vs_svPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // HC vs nfvPPA 
    hc_vs_nfvPPA_fastsurfer_rfe {
        params.experiment_name = "HC_vs_nfvPPA"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_nfvPPA_fastsurfer_lasso {
        params.experiment_name = "HC_vs_nfvPPA"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    hc_vs_nfvPPA_freesurfer_rfe {
        params.experiment_name = "HC_vs_nfvPPA"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    hc_vs_nfvPPA_freesurfer_lasso {
        params.experiment_name = "HC_vs_nfvPPA"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["HC"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // svPPA vs nfvPPA 
    svPPA_vs_nfvPPA_fastsurfer_rfe {
        params.experiment_name = "svPPA_vs_nfvPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["nfvPPA_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    svPPA_vs_nfvPPA_fastsurfer_lasso {
        params.experiment_name = "svPPA_vs_nfvPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["nfvPPA_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    svPPA_vs_nfvPPA_freesurfer_rfe {
        params.experiment_name = "svPPA_vs_nfvPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["nfvPPA_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    svPPA_vs_nfvPPA_freesurfer_lasso {
        params.experiment_name = "svPPA_vs_nfvPPA"
        params.sperimental = ["svPPA_T1"]
        params.control = ["nfvPPA_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // svPPA vs bvFTD 
    svPPA_vs_bvFTD_fastsurfer_rfe {
        params.experiment_name = "svPPA_vs_bvFTD"
        params.sperimental = ["svPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    svPPA_vs_bvFTD_fastsurfer_lasso {
        params.experiment_name = "svPPA_vs_bvFTD"
        params.sperimental = ["svPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    svPPA_vs_bvFTD_freesurfer_rfe {
        params.experiment_name = "svPPA_vs_bvFTD"
        params.sperimental = ["svPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    svPPA_vs_bvFTD_freesurfer_lasso {
        params.experiment_name = "svPPA_vs_bvFTD"
        params.sperimental = ["svPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
    
    // nfvPPA vs bvFTD 
    nfvPPA_vs_bvFTD_fastsurfer_rfe {
        params.experiment_name = "nfvPPA_vs_bvFTD"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }
    
    nfvPPA_vs_bvFTD_fastsurfer_lasso {
        params.experiment_name = "nfvPPA_vs_bvFTD"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }
    
    nfvPPA_vs_bvFTD_freesurfer_rfe {
        params.experiment_name = "nfvPPA_vs_bvFTD"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }
    
    nfvPPA_vs_bvFTD_freesurfer_lasso {
        params.experiment_name = "nfvPPA_vs_bvFTD"
        params.sperimental = ["nfvPPA_T1"]
        params.control = ["bvFTD_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }

    // bvFTD vs linguistic PPA 
    bvFTD_vs_PPA_fastsurfer_rfe {
        params.experiment_name = "bvFTD_vs_PPA"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["svPPA_T1", "nfvPPA_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "fastsurfer"
    }

    bvFTD_vs_PPA_fastsurfer_lasso {
        params.experiment_name = "bvFTD_vs_PPA"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["svPPA_T1", "nfvPPA_T1"]
        params.feat_output = "data/processed/feat-fastsurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "fastsurfer"
    }

    bvFTD_vs_PPA_freesurfer_rfe {
        params.experiment_name = "bvFTD_vs_PPA"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["svPPA_T1", "nfvPPA_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "rfe"
        params.brain_segmenter = "freesurfer"
    }

    bvFTD_vs_PPA_freesurfer_lasso {
        params.experiment_name = "bvFTD_vs_PPA"
        params.sperimental = ["bvFTD_T1"]
        params.control = ["svPPA_T1", "nfvPPA_T1"]
        params.feat_output = "data/processed/feat-freesurfer"
        params.selection_method = "lasso"
        params.brain_segmenter = "freesurfer"
    }
}