// ==========================================
// CLINICAL TWIN — Nextflow Config
// ==========================================

docker {
    enabled = true
    fixOwnership = true
    runOptions = '-v /tmp:/tmp'
}

process {
    withName: 'freesurfer' {
        container = 'clinical-freesurfer'
    }
    withName: 'nifti_converter' {
        container = 'clinical-freesurfer'
    }
    withName: 'roi_creator' {
        container = 'clinical-fsl'
    }
    withName: 'csv_collector' {
        container = 'clinical-pyradiomics'
    }
    withName: 'feature_extraction' {
        container = 'clinical-pyradiomics'
    }
}

workDir = '/tmp/nextflow_work'

// Params default
params.outdir = System.getenv("NF_OUTDIR") ?: "/shared_data/nf_output"
params.segmenter_folder_output = "${params.outdir}/segmentation"
params.features_output = "${params.outdir}/features"
params.error_strategy = 'ignore'
params.maxforks = 1
params.pyradiomics_jobs = 4
params.brain_segmenter = "freesurfer"

// DATA
params.labels = System.getenv("NF_LABELS") ?: "/app/data/external/ROI_labels.tsv"
params.settings = "/app/nextflow/configs/pyradiomics.yaml"
params.license = "/app/license.txt"

// SEGMENTER OUTPUT
params.fastsurfer_threads = 4
params.fastsurfer_device = "cpu"
params.fastsurfer_3T = false
